{% load static %}
 
<html>
<head>
    <title>N Maheshwar Reddy</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <img id="profile-pic"src="{% static 'images/myimage.jpeg' %}">
                    <hr>
                    <h4>Hi, I'm N Maheshwar Reddy!</h4>
                    <p>Full Stack Web Developer
                        <br>
                        Phone:7899424100
                    </p>
                

                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                        <h5><b>About Me</b></h5>
                        <hr>
                        <p>A Fresher Intend to build a career in Software field with good knowledge of technical skills as web technologies like HTML , CSS , JavaScript. <br> Backend Technologies like Python and Framework Django <br> Databases : MYSQL , SQLlite.<br>These above technologies used for final year project.<br> I am willing to work as a key player in challenging and creative environment to build Software products.</p>
                        
                        <ul class="social-links">
                            <li><a href="https://www.linkedin.com/in/n-maheshwar-reddy-08b67514b/" target="_blank"><img class="social" src="{% static "images/linkedin.png" %}" alt="LinkedIn"></a></li>
                            <li><a href="https://github.com/Maheshwar43/Maheshwar43.git" target="_blank"><img class="social" src="{% static "images/logo-github.svg" %}" alt="GitHub"></a></li>
                            <li><a href="https://www.instagram.com/maheshwar43/" target="_blank"><img class="social" src="{% static "images/logo-instagram.svg" %}" alt="Instagram"></a></li>
                        </ul>
                        
                        

                </div>
            </div>
            
        </div>
   
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body h-100 border-info">
                <h5><b>Training:</b></h5>
                <hr>
                <p> Full Stack Python Development</p>
                    <p>Institute : Apptecknow Careers BTM Layout 2nd Stage Bangalore</p>
                    <p>Frontend technologies like : HTML,CSS,JavaScript,
                       <br> Backend Technologies: Django, Python
                       <br> Databases: MySQLSQL and SQLlite.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-body h-100 border-info">
                <h5><b>Academic Education:</b></h5>
                <hr>
                <p>Master in Computer Science[MSc]
                    <br>PassOut Year : 2023
                    <br>Percentage : 68 %
                    <br>Gulbarga University
                    <br>Gulbarga Karnataka India

                </p>
                <p>Bachelors in Computer Science[BSc PMCS]
                    <br>PassOut Year : 2020
                    <br>Percentage : 64 %
                    <br>Government First Grade College Bidar
                    <br>Bidar Karnataka India

                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body h-100 border-info">
                <h5><b>Certificates:</b></h5>
                <hr>
                <p> 1.CSS and JavaScript - Udemy
                       <br> 2.SQL MasterClass - Udemy
                       <br> 3.Python Programing - Perfect E Learning</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-body h-100 border-info">
                <h5><b>Projects:</b></h5>
                <hr>
                <p>Final Year Project : Master in Computer Science[MSc]
                    <br>GST Billing Software
                    <br>The proposed system is intended to provide the facility of automating the inventory task such as item management and customer billing with GST for shop or market.
                    <br>Framework:Django 
                    <br>Programing Langauage : Python 
                    <br>Databases:SQLlite.

                </p>
                
            </div>
        </div>
    </div>
    <br>
    
</body>
</html>
            

